@{
    ViewData["Title"] = "Grupo Index";
 
}

<header>
    <h1>ORT</h1>
</header>
<div class = "login">
   
    <h2> Log in</h2>
    <form action = '@Url.Action("Login", "Home")' method = "POST">
        Ingrese el Email
        <input type="email" name ="Email" />
        Ingrese la contraseña
        <input type="password" name = "Contraseña"/>
        <input class = "submit" type="submit" value="Login"/>
    </form>

</div>



